.NavBar{
    background-color: grey;
    padding: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 5vh;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}

#heading{    color: rgba(55, 161, 243, 0.755);
    position: relative;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

#nav{
    display: flex;
    justify-content:flex-end end;
    position: relative;
    gap: 20px;

}

